@define-color background #181824;
* {
  background: transparent;
  border-color: rgba(245,194,231,1.000);
  color: #cdd6f4;
  border: rgba(245,194,231,1.000);
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 15px;
}

.modules-left {
}
.modules-center {
    padding:7px;
    margin: 7px 0px 2px 0px;
    border-radius:10px;
    background: alpha(@background,.8);
}
.modules-right {
    padding:7px;
    margin: 7px 15px 2px 0px;
    border-radius:10px;
    background: alpha(@background,.8);
}


#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 0px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-arch{
  margin: 7px 0px 2px 15px;
  border-radius:40px;
  padding:7px;
  border: 10px;
  background: alpha(@background,.8);
}


#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#pulseaudio{
  margin-left: 3px;
  margin-right:3.5px;
}

#cpu{
  margin-left:7.5px;
  margin-right:14px;
}

#battery{
  margin-left: 0px;
  margin-right:7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 14px;
  margin-left: 4px;
}

#network {
  margin-right: 14px;
}

#custom-expand-icon {
  margin-right: 10px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#custom-powermenu{
    margin: 0px 10px 0px 10px;
}

#clock {
  margin-left: 10px;
  margin-right: 9px;
  margin-left: 4px;
  padding:7px;
  margin: 7px 0px 2px 15px;
  border-radius:10px;
  border: 10px;
  background: alpha(@background,.8);
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
